
$image_path: "../img/";
$fonts_path: "../fonts/";

$base_font: "Stellar";
$base_font_size: 16px;

$titles_font: "Electrolize";
$titles_font_size: 24px;

$story_font: "VT323";
$story_font_size: 24px;

$instructions_font: "Stellar";
$instructions_font_size: 16px;

$buttons_font: "Nidus";
$buttons_font_size: 14px;

@import "_vectora.scss";
@import "_cyberpunk.scss";

// $base_font_color: #a1ecfb;
// $base_font_color_hover: #a1ecfb;

$base_font_color: #26dafd;
$base_font_color_hover: #26dafd;




$background_color: #000000;

/* BASE LAYOUT */

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html{
    height:100%; 
    background-color: $background_color;
    color: $base_font_color;
}

body{
    margin:0;
    padding:0;
    font-size: $base_font_size;
    height:100%;

    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        background-color: #021114;
    }
    &::-webkit-scrollbar-thumb {
        border: 1px solid #26dafd;
        cursor: pointer;
    }  
    &::selection {
        color: #021114;
        text-shadow: none;
        background-color: #26dafd;
    }

    background-image: url("../img/glow.png");
    transition: all 250ms ease-in;
    background-repeat: repeat;
    background-position: center top;
    background-attachment: fixed;

}

header{
    .course_title,
    .game_title{
        font-family: $titles_font, "sans-serif";
        font-size: 2em;
        text-align: center;
    }
}

.container{
    padding: 2em;
}





.button{
    margin: 0;
    border: none;
    z-index: 2;
    display: inline-block;
    padding: 10px 20px;
    outline: none;
    position: relative;
    font-size: 15.75px;
    background: transparent;
    transition: all 250ms ease-out;
    line-height: 1;
    user-select: none;
    vertical-align: middle;
    color: #acf9fb;
    cursor: pointer;
}

.corner_box{
    position: relative;
    display: block;
    padding: 1px;
    position: relative;
    background-color: rgba(6,43,45,0.65);
}

.corner_line{
    width: 8px;
    height: 8px;
    border-color: #acf9fb;
    box-shadow: 0 0 4px -2px rgba(172,249,251,0.65);
    z-index: 2;
    opacity: 1;
    position: absolute;
    transition: all 250ms ease-in;
    border-style: solid;
}

.corner_topleft{
    left: -1px;
    top: -1px;
    border-width: 1px 0 0 1px;
}

.corner_bottomleft{
    left: -1px;
    bottom: -1px;
    border-width: 0 0 1px 1px;
}

.corner_topright{
    right: -1px;
    top: -1px;
    border-width: 1px 1px 0 0;
}

.corner_bottomright{
    right: -1px;
    bottom: -1px;
    border-width: 0 1px 1px 0;

}







.room_item{
    margin: 2em 1em;
    padding: 2em;
    border-color: #029dbb;
    box-shadow: 0 0 4px rgba(2,157,187,0.65);
    background-color: rgba(2,17,20,0.65);

    .title{
        font-family: $titles_font, "sans-serif";
        font-size: $titles_font_size;
        color: #a1ecfb;
        font-weight: bold;
        margin: 0 0 20px;
        transition: color 250ms ease-out;
        text-shadow: 0 0 4px rgba(161,236,251,0.65);
        text-transform: uppercase;
    }

    .description{
        font-family: $base_font, "sans-serif";
        font-size: $base_font_size;
        color: #26dafd;
        font-style: normal;
        overflow: hidden;
        transition: all 250ms ease-out;
        line-height: 1.5;
    }

    .btn_start{
        font-family: $buttons_font, "sans-serif";
        font-size: $buttons_font_size;
        text-transform: uppercase;
        padding: 10px 20px;
        border-color: #029dbb;
        box-shadow: 0 0 4px rgba(2,157,187,0.65);
        transition: all 250ms ease-in;
        margin: 0.25em 0;
        display: inline-block;
        letter-spacing: 1px;

        &:hover{
            border-color: #26dafd;
            box-shadow: 0 0 4px rgba(38,218,253,0.65);
            cursor: pointer;
        }
    }
}



.game_container{
    max-width: 1024px;
    display: block;
    margin: 0 auto;
}


.game_card{
    margin: 2em 1em;
    padding: 0;
    // border-color: #029dbb;
    // box-shadow: 0 0 4px rgba(2,157,187,0.65);
    // background-color: rgba(2,17,20,0.65);

    p{
        margin: 0;
        padding: 0;
    }

    .title{
        font-family: $titles_font, "sans-serif";
        font-size: $titles_font_size;
        color: #a1ecfb;
        font-weight: bold;
        margin: 0 0 20px;
        transition: color 250ms ease-out;
        text-shadow: 0 0 4px rgba(161,236,251,0.65);
        text-transform: uppercase;
    }

    .story{
        padding: 1em;
        margin: 1em 0;

        font-family: $story_font, "sans-serif";
        font-size: $story_font_size;
        color: #26dafd;
        font-style: normal;
        overflow: hidden;
        transition: all 250ms ease-out;
        line-height: 1.25em;
    }

    
    .instructions{
        padding: 1em;
        margin: 1em 0;

        border-color: #029dbb;
        box-shadow: 0 0 4px rgba(2,157,187,0.65);
        background-color: rgba(2,17,20,0.65);

        font-family: $instructions_font, "sans-serif";
        font-size: $instructions_font_size;
        color: #26dafd;
        font-style: normal;
        overflow: hidden;
        transition: all 250ms ease-out;
        line-height: 1.5;

        letter-spacing: 0.65px;

    }

    .code_prompt{
        margin: 3em 0;

        font-family: $base_font, "sans-serif";
        font-size: $base_font_size;
        color: #26dafd;
        font-style: normal;
        overflow: hidden;
        transition: all 250ms ease-out;
        line-height: 1.5;

        text-align: center;

        .warning{
            font-family: $buttons_font, "sans-serif";
            font-size: 18px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #FF291A;
            text-shadow: 0px 0px 20px #FF2C2C;
        }      

        .text{
            margin-bottom: 1em;
            font-family: $buttons_font, "sans-serif";
            font-size: 13px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #FF291A;
            text-shadow: 0px 0px 20px #FF2C2C;
        }

        .feedback{
            margin: 1em 0;
            font-family: $buttons_font, "sans-serif";
            font-size: 12px;
            letter-spacing: 2px;
            text-transform: uppercase;
            height: 1em;
        }

        .btn_validate,
        .btn_continue{
            font-family: $buttons_font, "sans-serif";
            font-size: 13px;
            text-transform: uppercase;
            padding: 10px 20px;
            border-color: #029dbb;
            box-shadow: 0 0 4px rgba(2,157,187,0.65);
            transition: all 250ms ease-in;
            margin: 0.5em;
            display: inline-block;
            letter-spacing: 1px;
            
            &:hover{
                border-color: #26dafd;
                box-shadow: 0 0 4px rgba(38,218,253,0.65);
                cursor: pointer;
            }
        }



        .access_code_input{
            padding: 10px 20px;
            margin: 0.25em 0;
            display: inline-block;
            background-color: rgba(2,17,20,0.65);
            border: solid 1px rgba(2,157,187,0.65);
            box-shadow: 0 0 4px rgba(2, 157, 187, 0.65);
            font-family: $buttons_font, "sans-serif";
            font-size: $buttons_font_size;
            letter-spacing: 3px;
            color: $base_font_color;
            text-transform: uppercase;
            text-align: center;
            transition: all 250ms ease-in;

            &:hover{
                border-style: solid;
                border-color: #029dbb;
                box-shadow: 0 0 4px rgba(38,218,253,0.65);
            }
        }

    }



    
    .navigation_bar{
        margin: 1.5em 0;
        font-family: $base_font, "sans-serif";
        font-size: $base_font_size;
        overflow: hidden;
        transition: all 250ms ease-out;
        line-height: 1.5;
        
        .btn_continue,
        .btn_link{
            font-family: $buttons_font, "sans-serif";
            font-size: 13px;
            text-transform: uppercase;
            padding: 10px 20px;
            border-color: #029dbb;
            box-shadow: 0 0 4px rgba(2,157,187,0.65);
            transition: all 250ms ease-in;
            margin: 0.5em;
            display: inline-block;
            letter-spacing: 1px;
            text-decoration: none;
            color: #26dafd;

            &:hover{
                border-color: #26dafd;
                box-shadow: 0 0 4px rgba(38,218,253,0.65);
                cursor: pointer;
            }
        }

        .btn_continue{
            float: right;
        }

    }

}










/*  HELPERS */

.centrado-absoluto {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.disable_scroll{
    overflow: hidden;
}


.fixed-absoluto {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.disable_link{
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
}





// animation

.trans--grow{
    -webkit-transition: width 500ms ease-out; /* For Safari 3.1 to 6.0 */
    transition: width 500ms  ease-out;
    width : 0%;
}

.grow{
    width: 50%;
}


.horizontal_line1{
    font-size: 20px;
    position: relative;
    border: 0;
    height: 1.5em;

    &:before {
        content: '';
        background: linear-gradient(to right, transparent, rgba(2,157,187,0.65), transparent);
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 2px;
      }
      &:after {
        content: '';
        position: relative;
        display: inline-block;
        color: black;

        padding: 0 .5em;
        line-height: 1.5em;

        background-color: black;
      }

}

.horizontal_line2 {
    border-color: #029dbb;
    box-shadow: 0 0 4px rgba(2, 157, 187, 0.65);
    display: block;
    border-style: none;
    border-width: 0 0 1px;
    margin: 3em auto 0;
    height: 2px;
    background-color: rgba(2, 157, 187, 0.30);
}

.horizontal_line3 {
    border-color: #029dbb;
    //box-shadow: 0 0 4px rgba(2, 157, 187, 0.65);
    //display: block;
    border-style: none;
    //border-width: 0 0 1px;
    margin: 3em auto 0;
    //background-color: rgba(2, 157, 187, 0.30);

    height: 10px;
background-image: linear-gradient(45deg, rgba(2, 157, 187, 0.30), rgba(2, 157, 187, 0.30) 33.33%, rgba(2, 157, 187, 0.65) 33.33%, rgba(2, 157, 187, 0.65) 66.67%, rgba(2, 157, 187, 0.30) 66.67%, rgba(2, 157, 187, 0.30) 100%);
background-size: 10px 100%;
}

